/*Universal*/
html {
    font-size: 16px;
    box-sizing: border-box;
    color: rgb(25, 25, 104);
}

header .mobile{
    display: none;
}

body {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(200, 227, 238));
}

h1, h2{
    font-family: "Cinzel Decorative";
    text-shadow:  3px 3px 3px rgb(66, 139, 168);
}

p, span, h3 {
    font-family: "IBM Plex Mono";
}

.heading {
    text-align: center;
    font-size: 2rem;
    margin-top: 8rem;
}


.container {
    display: flex;
    margin-top: 8rem;
    margin-bottom: 8rem;
    width: 100%;
}




/*Header*/

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.875rem;
    background-image: url(./images/background\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    border-radius: 0.5rem;
}

header a {
    color: rgb(25, 25, 104);
    text-decoration: none;
    text-align: center;
    font-family: "IBM Plex Mono";
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
}

header a:hover {
    cursor: pointer;
    color: rgb(105, 79, 24) ;
}


.desktop nav {
    display: flex;
    
    width: auto;
}

.desktop ul {
    display: flex;
    justify-content: end;
    list-style-type: none;
    padding-right: 3rem;
}

.desktop li {
    padding-left: 3.5rem; 
  }

ul a {
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-shadow:  1px 1px 0px rgba(253, 253, 253, 1);
} 

/*Main*/
.name {
    font-size: 6rem;
    text-align: center;
}

/*About*/


.about {
    justify-content: center;
}

.picture {
    margin-left: 3rem;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    height: 60%;
    border-radius: 0.5rem;
}

.paragraph {
    width: 50%;
    margin-right: 3rem;
    font-size: 1.2rem;
    font-weight: 500;
}


/*Likes*/

.likes {
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.likes h2 {
    margin-top: 15rem;
}

.likeBTN {
    justify-content: center;
}

.messageContainer {
    height: 5rem;
}

/*Button*/

.button {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 4px;
    background-color: rgb(5, 9, 66);
    color: white;
    width: auto;
    padding: 1.25rem 4.25rem;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    font-family: "IBM Plex Mono";
    font-size: 1.2rem;
}

.button:hover {
    color: rgb(105, 79, 24);
    background-color: rgb(114, 217, 235);
    cursor: pointer;
}

.button:active { 
    box-shadow: none;
    margin-top: 2px;
    margin-bottom: -2px;
}



/*Skills section*/

.skills {
    justify-content: center;
}

.skills h2 {
    margin-top: 15rem;
}

.skills h3 {
    text-align: center;
}



/*Projects Section*/

.projects {
    justify-content: center;
}

.projects h2 {
    margin-top: 15rem;
    margin-bottom: 7rem;
}


#project-1, #project-2, #project-3 {
    overflow: hidden;
    width: 25rem;
    height: auto;
    margin: 2rem;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
}

#project-1:hover, #project-2:hover, #project-3:hover {
    cursor: pointer;
    box-shadow:  0 4px 8px 0 rgba(36, 33, 187, 0.99), 0 6px 20px 0 rgba(36, 33, 187, 0.99);
}

#project-1:active, #project-2:active, #project-3:active {
    box-shadow: none;
}


/*Contact Section*/

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 0;
    text-align: center;
}

.contact h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.contact ul {
    padding: 0;
}

.details a, li{
    color: rgb(25, 25, 104);
    text-decoration: none;
    text-align: center;
    font-family: "IBM Plex Mono";
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    list-style-position: inside;
    border: none;
}

.details a:hover {
    box-shadow:  0 4px 8px 0 rgba(36, 33, 187, 0.99), 0 6px 20px 0 rgba(36, 33, 187, 0.99);
}

.details a:active {
    box-shadow: none;
}

/*Footer*/
footer {
    margin-top: 10%;
    text-align: center;
    font-weight: 600;
    font-style: italic;
}


/*Responsive code*/


@media only screen and (max-width: 768px) {

    header .desktop {
        display: none;
    }

    header .mobile {
        display: flex;
        justify-content: center;
     }

    .mobile nav {
        display: flex;
        width: auto;
        
    }
    
    .mobile ul {
        display: flex;
        list-style-type: none;
        padding-inline-start: 0rem;
    }
    
    .mobile li {
        padding: 1rem; 
        justify-content: center;
      }
    .name {
        font-size: 3.5rem;
        text-align: center;
    }

    .heading {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 5rem;
    }
  
    .container{
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        justify-items: center;
    }

    .picture {
        margin: 0rem;
    }

    .paragraph {
        margin-left: 4rem;
    }

    p {
        margin-top: 0rem;
        font-size: 1.2rem;
    }

    h2 {
        margin-bottom: 0rem;
    }

    .likes h2, .skills h2 {
        margin-top: 4rem;
    }

}


@media only screen and (max-width: 1080px) {

    p {
        font-size: 1.5rem;
    }

}
